<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 border-top border-bottom justify-content-between">
      <%= link_to 'Wikinimous', articles_path %>
      <small><%= link_to 'New Article', new_article_path %></small>
    </nav>
    <%= yield %>
  </body>
</html>
